.home.content {
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 150px;
    max-width: 400px;
}
.home.content .example-card {
    margin: auto;
    margin-top: 50px;
}
.home.content .button-grp {
    margin-top: 50px;
    padding-bottom: 150px;
}