<div class="home content">
   <!--  <mat-card class="example-card" *ngIf="!isSessionInitiated()">
        <mat-card-title>LOGIN</mat-card-title>
        <mat-card-subtitle>Redirección</mat-card-subtitle>
        <mat-card-content>
          <p>Redirección a Login</p>
          <p>Esto hará que te dirijas a la página de login para la que requeriras tener una cuenta en la App de gestión y un token de acceso.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/auth/login">IR AL LOGIN</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" *ngIf="!isSessionInitiated()">
        <mat-card-title>REGISTER</mat-card-title>
        <mat-card-subtitle>Redirección</mat-card-subtitle>
        <mat-card-content>
          <p>Redirección a Registro</p>
          <p>Esto hará que te dirijas a la página de registro para la que requeriras tener una cuenta en la App de gestión y solo se generará un token para dicha cuenta.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/auth/register">IR AL LOGIN</a>
        </mat-card-actions>
    </mat-card> -->

    <button type="button" mat-raised-button color="primary" [disabled]="isSessionInitiated()" (click)="logout()"> Cerrar Sesión </button>
    <a type="button" mat-raised-button color="primary" [disabled]="!isSessionInitiated()" routerLink="/auth/login"> LOGIN </a>
    <a type="button" mat-raised-button color="primary" [disabled]="!isSessionInitiated()" routerLink="/auth/register"> REGISTER </a>
</div>