.home.content {
    width: 100%;
    margin: auto;
    margin-top: 25%;
    max-width: 400px;
}
.home.content .example-card {
    margin: auto;
    margin-top: 50px;
}
.home.content .button-grp {
    margin-top: 50px;
}