<div class="home content">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{slide.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="slide.src" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button mat-raised-button color="primary">Ver {{slide.name}}</button>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  </div>




  <div *ngIf="!isUserLogged">
    <mat-card class="example-card">
      <mat-card-title>LOGIN</mat-card-title>
        <mat-card-subtitle>Redirección</mat-card-subtitle>
        <mat-card-content>
          <p>Redirección a Login</p>
          <p>Esto hará que te dirijas a la página de login para la que requeriras tener una cuenta en la App de gestión y un token de acceso.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/auth/login">IR AL LOGIN</a>
        </mat-card-actions>
      </mat-card>
      
      <mat-card class="example-card">
        <mat-card-title>REGISTER</mat-card-title>
        <mat-card-subtitle>Redirección</mat-card-subtitle>
        <mat-card-content>
          <p>Redirección a Registro</p>
          <p>Esto hará que te dirijas a la página de registro para la que requeriras tener una cuenta en la App de gestión y solo se generará un token para dicha cuenta.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button routerLink="/auth/register">IR AL REGISTRO</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="flex spc-btw button-grp">
      <button type="button" mat-raised-button color="primary" [disabled]="!isUserLogged" (click)="logout()"> Cerrar Sesión </button>
      <a type="button" mat-raised-button color="primary" [disabled]="isUserLogged" routerLink="/auth/login"> LOGIN </a>
      <a type="button" mat-raised-button color="primary" [disabled]="isUserLogged" routerLink="/auth/register"> REGISTER </a>
    </div>
</div>