<div>
    <div class="auth-page flex center">
        <!-- <app-login-form ></app-login-form> -->
        <div class="login-form flex column spc-btw">
            
          <form [formGroup]="getForm()" (ngSubmit)="validateAndTryLogin()">
            <div class="flex center column">

              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Clearable input</mat-label>
                <input matInput type="text" formControlName="name">
              </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="Nombre de equipo" formControlName="name">
              </mat-form-field>

              <mat-form-field>
                <input type="number" matInput placeholder="Media de equipo" formControlName="average">
              </mat-form-field>
              
              <h4>Miembros viriles:</h4>
              <mat-form-field appearance="fill">
                <mat-label>Clearable input</mat-label>
                <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                  <input
                    matInput
                    formControlName="member"
                    [matAutocomplete]="auto"
                    [matAutocompleteConnectedTo]="origin"/>
                </div>
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let wrestler of originalWrestlers" [value]="wrestler.id+' - '+wrestler.name">{{ wrestler.name }}</mat-option>
              </mat-autocomplete>

            </div>

            
            <div class="flex center">
              <button type="submit" mat-stroked-button color="primary">Nuevo Miembro</button>
            </div>

            <div class="flex center">
              <button [disabled]="!isFormValid()" type="submit" mat-raised-button color="primary">Crear Equipo</button>
            </div>

          </form>
        </div>
      </div>
</div>