<div class="home content">

    <div class="flex spc-btw">
        <p>Cantidad de reinados actuales: {{ championshipReigns.length }}</p>
    </div>

    <table mat-table [dataSource]="singlesChampions" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef> IMAGE </th>
          <td mat-cell *matCellDef="let element"><img class="championship-img" [src]="element.championshipImage" [alt]="element.championship"> </td>
        </ng-container>
            
        <!-- Weight Column -->
        <ng-container matColumnDef="reigns">
            <th mat-header-cell *matHeaderCellDef> REIGNS </th>
            <td mat-cell *matCellDef="let element"> {{ element.totalReigns }} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{ element.wrestlerName }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef> DAYS </th>
          <td mat-cell *matCellDef="let element"> {{ element.totalDays }} </td>
        </ng-container>

        <ng-container matColumnDef="cta">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="element.totalReigns > 1" class="success" routerLink="/champions/championship/{{element.championshipId}}/wrestler/{{element.wrestlerId}}">
                  <mat-icon>visibility</mat-icon>
                  <span>Desglosar reinados para {{ element.wrestlerName }}</span>
                </button>
                <button mat-menu-item routerLink="/champions/from/championship/{{element.championshipId}}">
                  <mat-icon>military_tech</mat-icon>
                  <span>{{ element.championship }}</span>
                </button>
              </mat-menu>
          </td>
        </ng-container>
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <table style="margin-top: 50px" mat-table [dataSource]="tagTeamChampions" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef> IMAGE </th>
          <td mat-cell *matCellDef="let element"><img class="championship-img" [src]="element.championshipImage" [alt]="element.championshipName"> </td>
        </ng-container>
            
        <!-- Weight Column -->
        <ng-container matColumnDef="reigns">
            <th mat-header-cell *matHeaderCellDef> REIGNS </th>
            <td mat-cell *matCellDef="let element"> {{ element.totalReigns }} </td>
        </ng-container>


        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> NAME </th>
          <td mat-cell *matCellDef="let element"> {{ element.wrestlerName }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef> DAYS </th>
          <td mat-cell *matCellDef="let element"> {{ element.totalDays }} </td>
        </ng-container>
        

        <ng-container matColumnDef="cta">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="element.totalReigns > 1" class="success">
                  <mat-icon>visibility</mat-icon>
                  <span>Desglosar reinados de {{ element.wrestlerName }}</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>military_tech</mat-icon>
                  <span>{{ element.championship }}</span>
                </button>
              </mat-menu>
          </td>
        </ng-container>

        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>