<div class="auth-page flex center">
  <!-- <app-login-form ></app-login-form> -->
  <div class="login-form flex column spc-btw">
    <img src="/assets/icons/icon-192x192.png" alt="">
      
    <form [formGroup]="getForm()" (ngSubmit)="validateAndTryLogin()">
      <div class="flex center">
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="flex center">
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </div>
      
      <div class="flex spc-btw">
        <div></div>
        <button [disabled]="!isFormValid()" type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>

    <div class="register-link">
      <p>¿No tienes cuenta? <a routerLink="/auth/register">Registrate</a></p>
    </div>
  </div>
</div>